doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/assets/css/main.css")
  title Random Quotes Generator
body
  h1 Hello!
  
  #quote Test
  
  
  script(src="/assets/js/vendor/jquery-3.1.1.min.js")
  script(src="/assets/js/functions.js")
